@charset "utf-8";
/* CSS Document */

.custom_header {
	width:auto;
	height:50px;
	background-color:#000;
	color:#FFF;
	font-family:Georgia, Tahoma;
}
.custom_body {
	width:auto;
	font-family:Georgia,Tahoma;
}
.custom_footer {
	width:auto;
	background-color:#DDD;
}